<div [ngClass]="['footer']" role="footer">
    <div [ngClass]="['footer-container']">
      <div [ngClass]="['footer-left']">
        <img src="../assets/logo.jpeg" alt="">
        <p [ngClass]="['footer-address']">Địa chỉ: 36 Nguyễn Đỗ Cung, Phường Hoà Minh, Quận Liên Chiểu, Thành Phố Đà Nẵng </p>
      <p [ngClass]="['footer-title']">Kênh thông tin</p>
    
      </div>
        <div [ngClass]="['footer-center']">
          <div [ngClass]="['footer-title']">VỀ CHÚNG TÔI</div>
          <a>Giới thiệu về chúng tôi</a>
          <a>Tin tức thường ngày</a>
          <a>Liên hệ với chúng tôi</a>
    
        </div>
        <div  [ngClass]="['footer-right']">
          <div [ngClass]="['footer-title']">HỖ TRỢ KHÁCH HÀNG</div>
          <a>Hotline CSKH: 0933.221.448</a>
        </div>
    </div>
      <p [ngClass]="['footer-about']">Bản quyền thuộc về Công ty TNHH Giải pháp Công nghệ Viethas</p>
  </div>