<section>
    <div [ngClass]="['content-policy']">
        <div [ngClass]="['content-policy-left']">
            <div [ngClass]="['content-policy-row']">
                <div [ngClass]="['content-policy-item']">
                    <img src="https://115.78.228.208:20350/bvhsales/37gBp9YjWib0ltIMqWT0Honm54q2/policy/3333.jpeg"
                        alt="">
                    <p>Cam kết chất lượng</p>
                </div>
                <div [ngClass]="['content-policy-item']">
                    <img src="https://115.78.228.208:20350/bvhsales/37gBp9YjWib0ltIMqWT0Honm54q2/policy/3333.jpeg"
                        alt="">
                    <p>Sản phẩm an toàn</p>
                </div>
            </div>
            <div [ngClass]="['content-policy-row']">
                <div [ngClass]="['content-policy-item']">
                    <img src="https://115.78.228.208:20350/bvhsales/37gBp9YjWib0ltIMqWT0Honm54q2/policy/3333.jpeg"
                        alt="">
                    <p>Đổi trả 24h</p>
                </div>
                <div [ngClass]="['content-policy-item']">
                    <img src="https://115.78.228.208:20350/bvhsales/37gBp9YjWib0ltIMqWT0Honm54q2/policy/3333.jpeg"
                        alt="">
                    <p>Giao hàng nhanh chóng</p>
                </div>
            </div>

        </div>
        <div [ngClass]="['content-policy-right']">
            <div [ngClass]="['content-policy-item']">
                <img src="https://115.78.228.208:20350/bvhsales/37gBp9YjWib0ltIMqWT0Honm54q2/policy/3333.jpeg"
                    alt="">
                <p>Hỗ trợ mua hàng</p>
            </div>
            <div [ngClass]="['content-policy-item']">
                <img src="https://115.78.228.208:20350/bvhsales/37gBp9YjWib0ltIMqWT0Honm54q2/policy/3333.jpeg"
                    alt="">
                <p>Hỗ trợ mua hàng</p>
            </div>
        </div>
    </div>
</section>