<div class="content-main col-lg-9 col-md-12 col-sm-12 col-xl-9 col-xxl-9" >
    <app-content-usually-buy></app-content-usually-buy>>

    <section class="banner">
        <img src="../assets//slide.webp" />
    </section>

    <app-content-favorit-product productListTittle="Sản phẩm yêu thích" [productList] = "productList1"></app-content-favorit-product>
    <app-content-favorit-product productListTittle="Sản phẩm bán chạy" [productList] = "productList2"></app-content-favorit-product>
    <app-content-new></app-content-new>
    <app-content-policy></app-content-policy>
  
</div>