.content-main {
    padding: 0 16px;
    width: 100%;
}
section {
    margin-bottom: 30px;
}

.banner {
    width: 100%;
}

@media (max-width: 480px) {
    .banner{
        max-width: 480px;
        height: 200px;
    }
}