.content-product {}

.content-product>p {
  font-weight: bold;
  font-size: 18px;
  padding: 16px 0;
}

.content-product-container {
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.content-product-item {
  display: flex;
  width: 140px;
  /* height: 160px; */
  flex-direction: column;
}

.content-product-item>p {
  text-align: center;
  color: rgb(6, 167, 92);
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;

}

.content-product-item>img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #ddd;
}

